<div class="main container-fluid">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#" (click)="goTo('')">{{ dictionary.titleAPP }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngFor="let c of content">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="goTo(c.route)">{{ c.title }}</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a class="nav-link" (click)="logout()">
          <button type="button" class="btn btn-outline-danger">{{ dictionary.btnLogout.pt }} <app-bootstrap-icon iconName="box-arrow-right" iconTitle="{{dictionary.btnLogout.pt}}r"></app-bootstrap-icon></button>
        </a>
      </div>
    </div>
  </nav>
  <div *ngIf="!itsMan">
    <router-outlet></router-outlet>
  </div>
  <div class="container" *ngIf="itsMan">
    <div class="row">
      <div class="col-md-6" *ngFor="let c of content">
        <div class="card" (click)="goTo(c.route)">
          <div class="card-body">
            <h5 class="card-title">{{ c.title }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
