<div class="main container-fluid">
  <app-header></app-header>
  <main class="container">
    <app-search-component class="search"></app-search-component>
    <div *ngIf="!itsMan">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="itsMan">
      <div class="row">
        <div class="col-md-6 mb-4" *ngFor="let c of content">
          <div class="card" (click)="goTo(c.route)">
            <div class="card-body">
              <h5 class="card-title">{{ c.title }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
