<form [formGroup]="changePassForm" *ngIf="!itsDisabled">
  <div class="mb-3">
    <label for="currentPassword" class="form-label">{{ dictionary.titlePassword }}</label>
    <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword">
    <button class="btn btn-primary" type="button" id="confirmCurrentPassword"
      (click)="confirmCurrentPassword()">{{ dictionary.btnConfirm }}</button>
  </div>
  <div class="row">
    <div class="mb-3 col">
      <label for="newPassword" class="form-label">{{ dictionary.titleNew }} {{ dictionary.titlePassword }}</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword" [ngClass]="{
          'is-invalid': !passwordsMatch && (changePassForm.get('confirmPassword')?.value?.length || 0) > 0,
          'is-valid': passwordsMatch
        }" [disabled]="!currentPasswordSuccess">
    </div>
    <div class="mb-3 col">
      <label for="confirmPassword" class="form-label">{{ dictionary.titleConfirmPassword }}</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" [ngClass]="{
          'is-invalid': !passwordsMatch && (changePassForm.get('confirmPassword')?.value?.length || 0) > 0,
          'is-valid': passwordsMatch
        }" [disabled]="!passwordsMatch">
    </div>
    <div *ngIf="!passwordsMatch && (changePassForm.get('confirmPassword')?.value?.length || 0) > 0">As senhas não são
      iguais</div>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" [disabled]="!passwordsMatch">{{ dictionary.btnConfirm }}</button>
    <button class="btn btn-primary" type="button"(click)="onCancel()">{{ dictionary.btnCancel }}</button>
  </div>
</form>
